body {
  font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url(./img/smoke01.jpg);
}

code {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Menlo', 'Monaco',
    'Consolas', 'Courier New', monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form {
  display: grid;
  gap: 30px;
}

.feedback-form label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 5px;
}

.feedback-form label input,
.feedback-form label textarea {
  /* width: 100%; */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.feedback-form label input[type='checkbox'] {
  width: auto;
}

.button {
  width: 100%;
  padding: 10px 20px;
  background-color: #ccc;
  color: #0a0a0a;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
}

.text {
  color: #ccc;
}

.button.active {
  /* background-color: rgb(46, 177, 46); */
  border: 5px solid #3760f3;
}

.feedback-form,
.title {
  opacity: 0; /* начальное значение непрозрачности */
  animation: fadeIn ease-in 1; /* добавляем анимацию fadeIn */
  animation-fill-mode: forwards; /* будет видимым после завершения анимации */
  animation-duration: 3s; /* длительность анимации в 3 секунду */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
